body {margin: 0;padding: 0;overflow: scroll}
#top {vertical-align: top;width:100%;min-height:200px;top:0;left:0;margin:0;padding:0;}
#win{width:90%;height:0;padding-top: 80%;  position:absolute;bottom: 12%; text-align: center;margin: 0 20px;}